<div class="modal-body">
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
  <div class="container">
    <div class="row">
      <div class="mt-4 p-5">
        <h4 class="w-100  justify-content-center">Welcome back.</h4>
        <div class="mt-5 mb-3">
          <a href="#" class="btn btn-outline-primary btn-round btn-sm m-1 w-100"><i class="fa fa-google fa-x"></i>Sign
            in with Google</a>
          <a href="#" class="btn btn-outline-primary btn-round btn-sm m-1 w-100"><i class="fa fa-google fa-x"></i>Sign
            in with Facebook</a>
          <a href="#" class="btn btn-outline-primary btn-round btn-sm m-1 w-100"><i class="fa fa-google fa-x"></i>Sign
            in with Linkedin</a>
        </div>
        <p class="mb-4 align-content-center  justify-content-center">Not account? <a href="#" class="text-primary">Create
          One</a></p>
        <small class=" justify-content-center">Click "Sign Up" to agree to CodyTec's Terms of Service and acknowledge
          that Medium’s Privacy Policy applies to you.</small>
      </div>
    </div>
  </div>
</div>
