<div class="d-flex justify-content-between">
  <div class="pr-3">
    <div class="card-text small font-weight-bold mb-1">
      <img class="rounded-circle mr-2" src="assets/img/demo/avatar2.jpg" width="20">Jake Bittle in SCIENCE
    </div>
    <h2 class="mb-2 h4 font-weight-bold">
      <a class="text-dark" href="./article.html">50 years ago, armadillos hinted that DNA wasn’t destiny</a>
    </h2>
    <p class="mb-2">
      Nasa says it has detected the first signs of significant melting in a swathe of glaciers in East Antarctica.
    </p>
    <small class="text-muted mr-2">Dec 12 · 5 min read <span
      class="badge badge-pill badge-gray ml-2 p-md-1">Primary</span></small>
  </div>
  <img height="160" class="mt-1 mb-1" src="./assets/img/demo/5.jpg">
</div>
