<!--------------------------------------
NAVBAR
--------------------------------------->

<nav class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href="./index.html"><strong>Cody Tec</strong></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarColor02" style="">
      <ul class="navbar-nav ml-auto d-flex align-items-end">
        <li class="nav-item">
          <a class="nav-link" href="./article.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about.html">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about.html">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-5 d-flex align-items-end">
        <li class="nav-item highlight">
          <a class="nav-item" href="#">Sign In</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-3 d-flex align-items-end">
        <li class="nav-item highlight">
          <a class="nav-item btn btn-primary btn-round text-light btn-sm pr-4 pl-4 shadow-md" href="#">Get Start</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
